body {
    background-image: url('/static/images/login.jpg');
}

#login-id {
    background-image: url('/static/images/login.jpg');
}

.login-class {
    background-image: url('/static/images/login.jpg');
}